window {
margin: 0px;
border: 1px solid #465265;
background-color: #111013;
}

#input {
margin: 5px;
border: none;
color: #d8dee9;
background-color: #111013;
}

#inner-box {
margin: 5px;
border: none;
background-color: #111013;
}

#outer-box {
margin: 5px;
border: none;
background-color: #111013;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #d8dee9;
}

#entry:selected {
background-color: #242831;
}
